<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kviz</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <form method="post" action="/">
        <p>Katero je glavno mesto Kitajske ?</p>
        <img src="/assets/img/peking.jpg">
        <p>Vpiši odgovor v polje</p>
        <input name="vnos">
        <button type="submit">Preveri vnos</button>
    </form>
    <form method="post" action="/">
        <p>Katero je glavno mesto Kanade ?</p>
        <img src="/assets/img/otawa.jpg">
        <p>Vpiši odgovor v polje</p>
        <input name="vnos2">
        <button type="submit">Preveri vnos</button>
    </form>
    <form method="post" action="/">
        <p>Katero je glavno mesto Indonezije ?</p>
        <img src="/assets/img/jakarta.jpg">
        <p>Vpiši odgovor v polje</p>
        <input name="vnos3">
        <button type="submit">Preveri vnos</button>
    </form>
    <form method="post" action="/">
        <p>Katero je glavno mesto Tunizije ?</p>
        <img src="/assets/img/tunis.jpg">
        <p>Vpiši odgovor v polje</p>
        <input name="vnos4">
        <button type="submit">Preveri vnos</button>
    </form>
</body>
</html>